### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [202]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.info()
#purchase_data.describe()
no_purchases=len(purchase_data)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Purchase ID  780 non-null    int64
 1   SN           780 non-null    object
 2   Age          780 non-null    int64
 3   Gender       780 non-null    object
 4   Item ID      780 non-null    int64
 5   Item Name    780 non-null    object
 6   Price        780 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 42.8+ KB

## Player Count

* Display the total number of players

In [203]:
count=purchase_data["SN"].value_counts()
#len gives the total items or the length of the series
player_count =len(count)
player_count

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [204]:
unique_items= len(purchase_data["Item ID"].unique())
unique_items
average_price = purchase_data["Price"].mean()
#use pyhton formatting
formatted_avg_price = "${:,.2f}".format(average_price)
formatted_avg_price
total_revenue = purchase_data["Price"].sum()
formatted_total_revenue = "${:,.2f}".format(total_revenue)
#creatre a df including all the infomation
summary_df = pd.DataFrame({
    "Number of Unique Items": [unique_items],
    "Average Price": [formatted_avg_price],
    "No. of Purchases": [no_purchases],
    "Total Revenue":[formatted_total_revenue]})
summary_df

   Number of Unique Items Average Price  No. of Purchases Total Revenue
0                     179         $3.05               780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [205]:
#cfreate a df for males
male_df=purchase_data[purchase_data["Gender"]=="Male"]
male=len(male_df["SN"].unique())
#check the no. of males
male
#female_df=purchase_data[purchase_data["Gender"]=="Female"]
#len(male_df["Item ID"].value_counts())

484

In [206]:
#repeat the process for female
female_df=purchase_data[purchase_data["Gender"]=="Female"]
female=len(female_df["SN"].unique())
female
#df[df['A'].str.contains("hello")]
#to find the other I use a wildcard "contains"
#repeat the process dfor others but use str.contains("Other") to find all possible cases
other_df=purchase_data[purchase_data["Gender"].str.contains("Other")]
other = len(other_df["SN"].unique())
other
#create a df
gender_info = [{"Total Count": male, "Percentage of Players":"{:,.2f}%".format(male*100/player_count)},
               {"Total Count": female, "Percentage of Players":"{:,.2f}%".format(female*100/player_count)},
               {"Total Count": other, "Percentage of Players":"{:,.2f}%".format(other*100/player_count)}]

gender_df = pd.DataFrame(gender_info,index=["Male","Female", "Other / Non-Disclosed"])

gender_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [213]:
#find purchases based on the gender
male_purchases=len(male_df["Purchase ID"].unique())
female_purchases=len(female_df["Purchase ID"].unique())
#female_purchases
other_purchases=len(other_df["Purchase ID"].unique())

#finding the average purchasing price
male_avg = male_df["Price"].sum()/male_purchases
female_avg = female_df["Price"].sum()/female_purchases
other_avg = other_df["Price"].sum()/other_purchases
#Total Purchase Value
tot_other = other_df["Price"].sum()
tot_male =  male_df["Price"].sum()
tot_female =  female_df["Price"].sum()

#finding "Avg Total Purchase per Person"
avg_male = tot_male/male
avg_female = tot_female/female
avg_other = tot_other/other

#create df
purchase_info = [{"Purchase Count": female_purchases, "Average Purchase Price":"${:,.2f}".format(female_avg),
                 "Total Purchase Value":"${:,.2f}".format(tot_female), "Avg Total Purchase per Person": "${:,.2f}".format(avg_female)},
               {"Purchase Count": male_purchases, "Average Purchase Price":"${:,.2f}".format(male_avg),
               "Total Purchase Value":"${:,.2f}".format(tot_male), "Avg Total Purchase per Person": "${:,.2f}".format(avg_male)},
               {"Purchase Count": other_purchases, "Average Purchase Price":"${:,.2f}".format(other_avg),
               "Total Purchase Value":"${:,.2f}".format(tot_other), "Avg Total Purchase per Person": "${:,.2f}".format(avg_other)}]
purchase_df = pd.DataFrame(purchase_info,index=["Female","Male", "Other / Non-Disclosed"])
purchase_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [208]:
#bins
#purchase_data[purchase_data["Age"]>39]
age_bins =[0,10,15,20,25,30,35,40,46]
bin_labels =["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
temp_df = purchase_data
temp_df["age_demo"]=pd.cut(temp_df["Age"],age_bins, labels = bin_labels, include_lowest=True,right=False)

#separated to bins
bin1_df = temp_df[temp_df["age_demo"]=="<10"]
bin2_df = temp_df[temp_df["age_demo"]=="10-14"]
bin3_df = temp_df[temp_df["age_demo"]=="15-19"]
bin4_df = temp_df[temp_df["age_demo"]=="20-24"]
bin5_df = temp_df[temp_df["age_demo"]=="25-29"]
bin6_df = temp_df[temp_df["age_demo"]=="30-34"]
bin7_df = temp_df[temp_df["age_demo"]=="35-39"]
bin8_df = temp_df[temp_df["age_demo"]=="40+"]

#players in each bin
n_bin1 = len(bin1_df["SN"].unique())
n_bin2 = len(bin2_df["SN"].unique())
n_bin3 = len(bin3_df["SN"].unique())
n_bin4 = len(bin4_df["SN"].unique())
n_bin5 = len(bin5_df["SN"].unique())
n_bin6 = len(bin6_df["SN"].unique())
n_bin7 = len(bin7_df["SN"].unique())
n_bin8 = len(bin8_df["SN"].unique())

n_bin1/player_count

#create df age_demo_df
age_demo_info =[{"Total Count":n_bin1,"Percentage of Players":"{:,.2f}%".format(n_bin1*100/player_count)},
               {"Total Count":n_bin2,"Percentage of Players":"{:,.2f}%".format(n_bin2*100/player_count)},
               {"Total Count":n_bin3,"Percentage of Players":"{:,.2f}%".format(n_bin3*100/player_count)},
               {"Total Count":n_bin4,"Percentage of Players":"{:,.2f}%".format(n_bin4*100/player_count)},
               {"Total Count":n_bin5,"Percentage of Players":"{:,.2f}%".format(n_bin5*100/player_count)},
               {"Total Count":n_bin6,"Percentage of Players":"{:,.2f}%".format(n_bin6*100/player_count)},
               {"Total Count":n_bin7,"Percentage of Players":"{:,.2f}%".format(n_bin7*100/player_count)},
               {"Total Count":n_bin8,"Percentage of Players":"{:,.2f}%".format(n_bin8*100/player_count)}]

age_demo_df = pd.DataFrame(age_demo_info,index=["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"])
age_demo_df

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [209]:
#already binned the data by age

#let's find the purchase count for each bin
counts_bin1 =len(bin1_df["Purchase ID"].unique())
counts_bin2 =len(bin2_df["Purchase ID"].unique())
counts_bin3 =len(bin3_df["Purchase ID"].unique())
counts_bin4 =len(bin4_df["Purchase ID"].unique())
counts_bin5 =len(bin5_df["Purchase ID"].unique())
counts_bin6 =len(bin6_df["Purchase ID"].unique())
counts_bin7 =len(bin7_df["Purchase ID"].unique())
counts_bin8 =len(bin8_df["Purchase ID"].unique())

#Total purchase values
tot_price_bin1 = bin1_df["Price"].sum()
tot_price_bin2 = bin2_df["Price"].sum()
tot_price_bin3 = bin3_df["Price"].sum()
tot_price_bin4 = bin4_df["Price"].sum()
tot_price_bin5 = bin5_df["Price"].sum()
tot_price_bin6 = bin6_df["Price"].sum()
tot_price_bin7 = bin7_df["Price"].sum()
tot_price_bin8 = bin8_df["Price"].sum()

#Average Purchase price
avg_price_bin1 = tot_price_bin1/counts_bin1
avg_price_bin2 = tot_price_bin2/counts_bin2
avg_price_bin3 = tot_price_bin3/counts_bin3
avg_price_bin4 = tot_price_bin4/counts_bin4
avg_price_bin5 = tot_price_bin5/counts_bin5
avg_price_bin6 = tot_price_bin6/counts_bin6
avg_price_bin7 = tot_price_bin7/counts_bin7
avg_price_bin8 = tot_price_bin8/counts_bin8

#Avg. Total Purchase per Person
avg_tot_price_bin1 = tot_price_bin1/n_bin1
avg_tot_price_bin2 = tot_price_bin2/n_bin2
avg_tot_price_bin3 = tot_price_bin3/n_bin3
avg_tot_price_bin4 = tot_price_bin4/n_bin4
avg_tot_price_bin5 = tot_price_bin5/n_bin5
avg_tot_price_bin6 = tot_price_bin6/n_bin6
avg_tot_price_bin7 = tot_price_bin7/n_bin7
avg_tot_price_bin8 = tot_price_bin8/n_bin8

#create a panda series for each column
ranges =["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
purchase_counts = [counts_bin1,counts_bin2,counts_bin3,counts_bin4,counts_bin5,counts_bin6,counts_bin7,counts_bin8]

Average_Purchase_Prices = ["${:,.2f}".format(avg_price_bin1),"${:,.2f}".format(avg_price_bin2),
                          "${:,.2f}".format(avg_price_bin3),"${:,.2f}".format(avg_price_bin4),
                          "${:,.2f}".format(avg_price_bin5),"${:,.2f}".format(avg_price_bin6),
                          "${:,.2f}".format(avg_price_bin7),"${:,.2f}".format(avg_price_bin8)]

Total_Purchase_Values = ["${:,.2f}".format(tot_price_bin1),"${:,.2f}".format(tot_price_bin2),
                        "${:,.2f}".format(tot_price_bin3),"${:,.2f}".format(tot_price_bin4),
                        "${:,.2f}".format(tot_price_bin5),"${:,.2f}".format(tot_price_bin6),
                        "${:,.2f}".format(tot_price_bin7),"${:,.2f}".format(tot_price_bin8)]

Avg_Total_Purchase_per_Person = ["${:,.2f}".format(avg_tot_price_bin1),"${:,.2f}".format(avg_tot_price_bin2),
                                "${:,.2f}".format(avg_tot_price_bin3),"${:,.2f}".format(avg_tot_price_bin4),
                                "${:,.2f}".format(avg_tot_price_bin5),"${:,.2f}".format(avg_tot_price_bin6),
                                "${:,.2f}".format(avg_tot_price_bin7),"${:,.2f}".format(avg_tot_price_bin8)]

#combine all the information to a df
#this time df is created differently to hget the "index label"
#Note the index label "Age Ranges"
purchasing_df = pd.DataFrame({"Age Ranges":ranges,
                             "Purchase Count":purchase_counts,
                             "Average Purchase Price":Average_Purchase_Prices,
                             "Total Purchase Value":Total_Purchase_Values,
                             "Avg Total Purchase per Person":Avg_Total_Purchase_per_Person})
purchasing_df.set_index("Age Ranges")

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [214]:
#let's find the purchase count for each SN
#counts = purchase_data["SN"].value_counts()

#first I am going to group by the player
grouped_df = purchase_data.groupby(['SN'])
total_value = grouped_df["Price"].sum()
counts = grouped_df["Item ID"].count()
avg_per_item = total_value/counts

top_spenders_summary = pd.DataFrame({"Purchase Count": counts,
                                    "Average Purchase Price": avg_per_item,
                                    "Total Purchase Value":total_value})
#sorting
sorted_top_spenders_summary = top_spenders_summary.sort_values("Total Purchase Value",ascending=False)
#formatting the df
#note: If I dont do head hear it will sjhow the whle df
formatted_summary= sorted_top_spenders_summary.head().style.format({"Average Purchase Price":"${:,.2f}",
                                 "Total Purchase Value":"${:,.2f}"})
formatted_summary
#sorted_top_spenders_summary

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [211]:
#now group by both the item id and the item name
newgrouped_df = purchase_data.groupby(["Item ID","Item Name"])
#calculate the required values
new_total = newgrouped_df["Price"].sum()
new_counts = newgrouped_df["Item ID"].count()
item_price = newgrouped_df["Price"].sum()/newgrouped_df["Item ID"].count()
most_popular_summary = pd.DataFrame({"Purchase Count": new_counts,
                                    "Item Price": item_price,
                                    "Total Purchase Value":new_total})
most_popular_summary
#sorting
sorted_most_popular_summary = most_popular_summary.sort_values("Purchase Count",ascending=False)
sorted_most_popular_summary
#formatting
formatted_sorted_most_popular_summary= sorted_most_popular_summary.head().style.format({"Item Price":"${:,.2f}",
                                 "Total Purchase Value":"${:,.2f}"})
formatted_sorted_most_popular_summary

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [212]:
#sorting based on the purchase value
new_sorted_most_popular_summary = most_popular_summary.sort_values("Total Purchase Value",ascending=False)
new_sorted_most_popular_summary.head()
new_formatted_sorted_most_popular_summary= new_sorted_most_popular_summary.head().style.format({"Item Price":"${:,.2f}",
                                 "Total Purchase Value":"${:,.2f}"})
new_formatted_sorted_most_popular_summary